extends layout

block content  
        .container
            article.listUsers
            h1 Liste des utilisateurs inscrits
            each u in userInfo
                table.table.table-sm.table-hover
                    tr
                        td.field Pseudo :
                        td.value #{u.pseudo}
                    tr
                        td.field Email :
                        td.value #{u.email}
                    tr
                        td.field Lastname :
                        td.value #{u.lastname}
                    tr
                        td.field Firstname :
                        td.value #{u.firstname}
                    tr
                        td.field Age :
                        td.value #{u.age}
                    tr
                        td.field Adress :
                        td.value #{u.adress}
                    tr
                        td.field City :
                        td.value #{u.city}
                    tr
                        td.field Movie :
                        td.value #{u.movie}
                    tr
                        td.field Game :
                        td.value #{u.game}
                    tr
                        td.field Presentation :
                        td.value #{u.presentation}
