extends layout

block content  
	.container-fluid
		article.profil
			h1 Profil
			form.description(action="/profil", method="post")
				p 
					span Pseudo : 
					span
						input#inputPseudo(type="text" value=user.pseudo disabled)
						//- i
							//- a#editPseudo(href="#") Modifier   
				p 
					span Email : 
					span
						input#inputEmail(type="text" value=user.email disabled)
						//- i
							//- a#editEmail(href="#") Modifier   
				p 
					span Password : 
					span
						input#inputPassword(type="text" value=user.password disabled)
						//- i
							//- a#editPassword(href="#") Modifier   
				p 
					span Nom : 
					span
						input#inputLastname(type="text" value=user.lastname disabled)
						//- i
							//- a#editLastname(href="#") Modifier   
				p 
					span Prénom : 
					span
						input#inputFirstname(type="text" value=user.firstname disabled)
						//- i
							//- a#editFirstname(href="#") Modifier   
				p 
					span Age : 
					span
						input#inputAge(type="text" value=user.age disabled)
						//- i
							//- a#editAge(href="#") Modifier   
				p 
					span Coordonnées : 
					span
						input#inputAdress(type="text" value=user.adress disabled)
						//- i
							//- a#editAdress(href="#") Modifier   
				p 
					span Ville : 
					span
						input#inputCity(type="text" value=user.city disabled)
						//- i
							//- a#editCity(href="#") Modifier   
				p 
					span Film préféré :
					span
						input#inputMovie(type="text" value=user.movie disabled)
						//- i
							//- a#editMovie(href="#") Modifier   
				p 
					span Jeu préféré :
					span
						input#inputGame(type="text" value=user.game disabled)
						//- i
							//- a#editGame(href="#") Modifier   
				p 
					span Présentation : 
					span
						textarea#inputPresentation(cols="40" rows="40" disabled)
							| #{user.presentation}
				button.load.btn.btn#modifySave(type='submit') 
					span Save
					.lds-ellipsis
						div
						div
						div
						div
	script.
		window.addEventListener('DOMContentLoaded', function() {
			console.log('ready');
			$('.lds-ellipsis').hide();
			$('.disableLoad').submit(function () {
				console.log('test');
				$('button span').html('');
				$('.load').prop('disabled', true);
				$('.lds-ellipsis').show();
			})
			$("#modifySave").click(function() {
				if ($("#inputPseudo").prop("disabled")) {
					$("#inputPseudo").prop("disabled", false);
					//- console.log('#inputPseudo true');
				}else{
					$("#inputPseudo").prop("disabled", true);
					//- console.log('#inputPseudo false');
				}
				if ($("#inputEmail").prop("disabled")) {
					$("#inputEmail").prop("disabled", false);
					//- console.log('#inputEmail true');
				}else{
					$("#inputEmail").prop("disabled", true);
					//- console.log('#inputEmail false');
				}
				if ($("#inputPassword").prop("disabled")) {
					$("#inputPassword").prop("disabled", false);
					//- console.log('#inputPassword true');
				}else{
					$("#inputPassword").prop("disabled", true);
					//- console.log('#inputPassword false');
				}
				if ($("#inputLastname").prop("disabled")) {
					$("#inputLastname").prop("disabled", false);
					//- console.log('#inputLastname true');
				}else{
					$("#inputLastname").prop("disabled", true);
					//- console.log('#inputLastname false');
				}
				if ($("#inputFirstname").prop("disabled")) {
					$("#inputFirstname").prop("disabled", false);
					//- console.log('#inputFirstname true');
				}else{
					$("#inputFirstname").prop("disabled", true);
					//- console.log('#inputFirstname false');
				}
				if ($("#inputAge").prop("disabled")) {
					$("#inputAge").prop("disabled", false);
					//- console.log('#inputAge true');
				}else{
					$("#inputAge").prop("disabled", true);
					//- console.log('#inputAge false');
				}
				if ($("#inputAdress").prop("disabled")) {
					$("#inputAdress").prop("disabled", false);
					//- console.log('#inputAdress true');
				}else{
					$("#inputAdress").prop("disabled", true);
					//- console.log('#inputAdress false');
				}
				if ($("#inputCity").prop("disabled")) {
					$("#inputCity").prop("disabled", false);
					//- console.log('#inputCity true');
				}else{
					$("#inputCity").prop("disabled", true);
					//- console.log('#inputCity false');
				}
				if ($("#inputMovie").prop("disabled")) {
					$("#inputMovie").prop("disabled", false);
					//- console.log('#inputMovie true');
				}else{
					$("#inputMovie").prop("disabled", true);
					//- console.log('#inputMovie false');
				}
				if ($("#inputGame").prop("disabled")) {
					$("#inputGame").prop("disabled", false);
					//- console.log('#inputGame true');
				}else{
					$("#inputGame").prop("disabled", true);
					//- console.log('#inputGame false');
				}
				if ($("#inputPresentation").prop("disabled")) {
					$("#inputPresentation").prop("disabled", false);
					//- console.log('#inputPresentation true');
				}else{
					$("#inputPresentation").prop("disabled", true);
					//- console.log('#inputPresentation false');
				}
			})
			//- $("#editPseudo").click(function() {
			//- 	if ($("#inputPseudo").prop("disabled")) {
			//- 		$("#inputPseudo").prop("disabled", false);
			//- 		console.log('#inputPseudo true');
			//- 	}else{
			//- 		$("#inputPseudo").prop("disabled", true);
			//- 		console.log('#inputPseudo false');
			//- 	}
			//- })
			//- $("#editEmail").click(function() {
			//- 	if ($("#inputEmail").prop("disabled")) {
			//- 		$("#inputEmail").prop("disabled", false);
			//- 		console.log('#inputEmail true');
			//- 	}else{
			//- 		$("#inputEmail").prop("disabled", true);
			//- 		console.log('#inputEmail false');
			//- 	}
			//- })
			//- $("#editPassword").click(function() {
			//- 	if ($("#inputPassword").prop("disabled")) {
			//- 		$("#inputPassword").prop("disabled", false);
			//- 		console.log('#inputPassword true');
			//- 	}else{
			//- 		$("#inputPassword").prop("disabled", true);
			//- 		console.log('#inputPassword false');
			//- 	}
			//- })
			//- $("#editLastname").click(function() {
			//- 	if ($("#inputLastname").prop("disabled")) {
			//- 		$("#inputLastname").prop("disabled", false);
			//- 		console.log('#inputLastname true');
			//- 	}else{
			//- 		$("#inputLastname").prop("disabled", true);
			//- 		console.log('#inputLastname false');
			//- 	}
			//- })
			//- $("#editFirstname").click(function() {
			//- 	if ($("#inputFirstname").prop("disabled")) {
			//- 		$("#inputFirstname").prop("disabled", false);
			//- 		console.log('#inputFirstname true');
			//- 	}else{
			//- 		$("#inputFirstname").prop("disabled", true);
			//- 		console.log('#inputFirstname false');
			//- 	}
			//- })
			//- $("#editAge").click(function() {
			//- 	if ($("#inputAge").prop("disabled")) {
			//- 		$("#inputAge").prop("disabled", false);
			//- 		console.log('#inputAge true');
			//- 	}else{
			//- 		$("#inputAge").prop("disabled", true);
			//- 		console.log('#inputAge false');
			//- 	}
			//- })
			//- $("#editAdress").click(function() {
			//- 	if ($("#inputAdress").prop("disabled")) {
			//- 		$("#inputAdress").prop("disabled", false);
			//- 		console.log('#inputAdress true');
			//- 	}else{
			//- 		$("#inputAdress").prop("disabled", true);
			//- 		console.log('#inputAdress false');
			//- 	}
			//- })
			//- $("#editCity").click(function() {
			//- 	if ($("#inputCity").prop("disabled")) {
			//- 		$("#inputCity").prop("disabled", false);
			//- 		console.log('#inputCity true');
			//- 	}else{
			//- 		$("#inputCity").prop("disabled", true);
			//- 		console.log('#inputCity false');
			//- 	}
			//- })
			//- $("#editMovie").click(function() {
			//- 	if ($("#inputMovie").prop("disabled")) {
			//- 		$("#inputMovie").prop("disabled", false);
			//- 		console.log('#inputMovie true');
			//- 	}else{
			//- 		$("#inputMovie").prop("disabled", true);
			//- 		console.log('#inputMovie false');
			//- 	}
			//- })
			//- $("#editGame").click(function() {
			//- 	if ($("#inputGame").prop("disabled")) {
			//- 		$("#inputGame").prop("disabled", false);
			//- 		console.log('#inputGame true');
			//- 	}else{
			//- 		$("#inputGame").prop("disabled", true);
			//- 		console.log('#inputGame false');
			//- 	}
			//- })
			//- $("#editPresentation").click(function() {
			//- 	if ($("#inputPresentation").prop("disabled")) {
			//- 		$("#inputPresentation").prop("disabled", false);
			//- 		console.log('#inputPresentation true');
			//- 	}else{
			//- 		$("#inputPresentation").prop("disabled", true);
			//- 		console.log('#inputPresentation false');
			//- 	}
			//- })	
		})